<div class="code-editor">
  <span class="control"></span>
  <span class="control"></span>
  <span class="control"></span>
  <pre class="line-numbers">
	<code class="language-javascript">
		/* 
   Just another pure CSS code editor design.
   Designed based on @roybarberuk's amazing Dribbble shot.
   Dribbble shot: http://dribbble.com/shots/1022371-Landing-Page-Element 

   Lea Verou's Prism syntax highlighter is used along with 
   the line number plugin and the Tomorrow-Theme.
*/
	</code>
</pre>
</div>
