{{id}}
<span>{{err}}</span>
<div class='wrapper'>
  <div class='block'>
    <div class='block-type'>
      <h2>{{ blockType3.type}}</h2>
      <button (click)='deleteBlock($event)'>Delete</button>
    </div>
    <form class='form' (submit)='addRadioButton()'>
      <label for='title'>Title</label>
      <br/>
      <input type='text' name='title' class='title' [(ngModel)]='blockType3.title.value' />
      <br />
      <br />
      <label for='description'>Accessibility</label>
      <br/>
      <div *ngFor="let radio of blockType3.description.options; let i = index ">
          <input 
            type='radio' 
            class='radio' 
            name="options" 
            ng-control="options"
            [value]='blockType3.description.options[i].value'
            [(ngModel)]='blockType3.description.value'
            [name]='blockType3.description.options[i].title'
            (click)='blockType3.description.value = blockType3.description.options[i].value'
          />
          <label for="radio">{{blockType3.description.options[i].title}}</label>
        </div>
      </form>
  </div>
</div>
